site_name: gcube Docs
site_url: https://docs.gcube.ai/
docs_dir: docs

# 플러그인 설정
plugins:
  - search
  - i18n:
      docs_structure: suffix
      fallback_to_default: true
      reconfigure_material: true
      reconfigure_search: true
      languages:
        - locale: ko
          default: true
          name: 한국어
          build: true
        - locale: en
          name: English
          build: true
          nav_translations:
            개요: Overview
            계정생성: Account Creation
            노드 사용자 가이드: Node Provider Guide
            Home: Home
            새 노드 연결: Connect New Node
            GPU 공유 중단: Stop GPU Sharing
            에이전트 Node 모니터링 확인: Check Agent Node Monitoring
            에이전트 세팅: Agent Setup
            GPU 공유 정보 확인: Check GPU Sharing Info
            GPU 공유 가격 설정: Set GPU Sharing Pricing
            GPU 공유수익 상세내역: GPU Sharing Income Details
            GPU 공유 모니터링 확인: Check GPU Sharing Monitoring
            에이전트 사용 오류 해결: Troubleshooting Agent Errors
            Tier 2 Ubuntu OS 세팅 가이드: Tier 2 Ubuntu OS Setup Guide
            Tier 2 노드 공급자 세팅 가이드: Tier 2 Node Provider Setup Guide
            NVIDIA 그래픽 드라이버 인식 오류: NVIDIA Graphics Driver Recognition Error
            워크로드 사용자 가이드: Workload User Guide
            프로필 설정: Profile Setup
            새 워크로드 등록: Register New Workload
            워크로드 등록 예시: Workload Registration Example
            워크로드 배포: Workload Deployment
            워크로드 모니터링: Workload Monitoring
            워크로드 이용내역: Workload Usage History
            워크로드 종료: Terminate Workload
            저장소 관리 설정: Storage Management Setup
            플랫폼 이용 가이드: Platform User Guide
            Ollama 사용 가이드 - DeepSeek: Ollama User Guide - DeepSeek
            Ollama 사용 가이드 - llama3: Ollama User Guide - llama3
            Stable Diffusion 사용 가이드: Stable Diffusion User Guide
            QnA 사용 가이드: QnA User Guide
            Wan2.2 사용 가이드: Wan2.2 User Guide

theme:
  name: material
  language: ko
  favicon: images/favicon.png
  logo: images/gcube_logo.svg
  font:
    text: Inter
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to light mode
  features:
    - navigation.tracking
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

extra_css:
  - stylesheets/extra.css
extra:
  homepage: https://console.gcube.ai/
  alternate:
    - name: 한국어
      link: /ko/
      lang: ko
    - name: English
      link: /en/
      lang: en

markdown_extensions:
  - footnotes
#  - markdown_include.include
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path: ["docs/snippets", "docs/admin"]
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
        - class: mermaid
        - format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details 
  - admonition
  - attr_list
  - meta
  - tables
  - toc:
      permalink: False
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg


#extra:
#  social:
#    - icon: fontawesome/brands/twitter
#      link: https://twitter.com/runailabs
#    - icon: fontawesome/brands/linkedin
#      link: https://linkedin.com/company/runailabs/
#  analytics:
#    provider: google
#    property: UA-122651141-1
#  version:
#    provider: mike


 
nav:
  - 개요: index.md
  - 계정생성: user-guide/sign-up/sign-up.md
  - 노드 사용자 가이드:
    - Home: user-guide/node/node-home.md
    - 새 노드 연결: user-guide/node/connect-new-node.md
    - GPU 공유 중단: user-guide/node/stop-gpu-sharing.md
    - 에이전트 Node 모니터링 확인: user-guide/node/check-agent-node-monitoring.md
    - 에이전트 세팅: user-guide/node/agent-setup.md
    - GPU 공유 정보 확인: user-guide/node/check-gpu-sharing-info.md
    - GPU 공유 가격 설정: user-guide/node/set-gpu-sharing-pricing.md
    - GPU 공유수익 상세내역: user-guide/node/check-gpu-sharing-income.md
    - GPU 공유 모니터링 확인: user-guide/node/check-gpu-sharing-monitoring.md
    - 에이전트 사용 오류 해결: user-guide/node/troubleshooting_agent_errors.md
    - Tier 2 Ubuntu OS 세팅 가이드: user-guide/node/Ubuntu-OS-setup.md
    - Tier 2 노드 공급자 세팅 가이드: user-guide/node/tier-2-ubuntu-setting-guide.md
    - NVIDIA 그래픽 드라이버 인식 오류: user-guide/node/NVIDIA-graphic-driver-error.md
  - 워크로드 사용자 가이드:
    - Home: user-guide/workload/workload-home.md
    - 프로필 설정: user-guide/workload/profile-settings.md
    - 새 워크로드 등록: user-guide/workload/register-new-workload.md
    - 워크로드 등록 예시: user-guide/workload/example-workload.md
    - 워크로드 배포: user-guide/workload/deploy-workload.md
    - 워크로드 모니터링: user-guide/workload/monitor-workload.md
    - 워크로드 이용내역: user-guide/workload/workload-expenses.md
    - 워크로드 종료: user-guide/workload/terminate-workload.md
    - 저장소 관리 설정: user-guide/workload/pv-user-guide.md
  - 플랫폼 이용 가이드:
    - Ollama 사용 가이드 - DeepSeek: user-guide/platform-guide/ollama-deepseek.md
    - Ollama 사용 가이드 - llama3: user-guide/platform-guide/ollama-llama3.md
    - Stable Diffusion 사용 가이드: user-guide/platform-guide/stable-diffusion.md
    - QnA 사용 가이드: user-guide/platform-guide/QnA-user-guide.md
    - Wan2.2 사용 가이드: user-guide/platform-guide/Wan2.2-user-guide.md

